#learn {
    background-color: white;
    .learn-form {
        margin:0 auto;
        iframe {
            display: block;
            margin:0 auto;
            height:800px;
            width: 100%;
        }
    }
}